@{
    ViewBag.Title = "MainLayout";
}

<header>
    <script src="~/Scripts/jquery-1.4.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Styles/Site.css" rel="stylesheet" />
</header>

<body>
    <table>
    <tr>
        <td>@Html.ActionLink("Главная", "Index", "Home")</td>
        <td>@Html.ActionLink("Поиск", "Index", "Search")</td>
    </tr>
    </table>

    @RenderBody()
</body>
